<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560371901013-i25rm38lt2kgeo1rv00pmbi783085mrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560371901013-i25rm38lt2kgeo1rv00pmbi783085mrt</string>
	<key>API_KEY</key>
	<string>AIzaSyDX1imeWADDrryMG2sRKyPzDbR2VWFLcOA</string>
	<key>GCM_SENDER_ID</key>
	<string>560371901013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carol.secondflutter</string>
	<key>PROJECT_ID</key>
	<string>secondflutter-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>secondflutter-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560371901013:ios:15528c1d409648ec51eadc</string>
</dict>
</plist>